extends layout

block content
  h1= title
  p
    a(class='button', href='/books/new') Create New Book

  if(search)
    p 
      a(class='button', href='/books') Clear Search

  form(action='/books/index') 
    input(class='search', type='search', name='term', placeholder='Search...')
    input(class='button search-btn', type='submit', value='Search')
  
  table 
    thead 
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody 
      each book in books
        tr
          td 
            a(href='/books/' + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year
  br
  
  - for (i = 0; i < totalPages; i++)
      a(class='button page-btn', href='/books/?page=' + (i) + '&size=15')= i+1




